.input{
    background-color: white;
    border-radius: 5px;
    padding:10px 10px;
    outline: none;
    display: block;
    border:2px solid rgba(90, 90, 90, 0.8);
    box-shadow:-4px 4px 4px 0 rgba(0,0,0,.25);
}
.small{
    height: 10px;
    font-size: 10px;
}
.medium{
    height: 15px;
    font-size: 15px;
}
.large{
    height: 20px;
    font-size: 20px;
}